div {
    background-size: cover;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.logo {
    height: 70px;
    float: left;
    background-color: green;
}

.pic{
    height: 70px;
}

.navigator{
    width: auto;
    font-size: 40px;
    height: 80px;
    padding-right: 10px;
    z-index: 900;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
    position: relative;
}

.navigator ul {
    width: 500px;
    display: inline;
    height: 200px;
    margin-left: 50px;
}

.navigator li {
    width: 100px;
    text-decoration: none;  /*去掉前面的圆点*/
    list-style: none;
    display: inline;
    margin: 10px;
    border: 1px solid #FFFFFF;
    background-color: #30DDEB;
}

.navigator li a {
    color: #4D555D !important;
}

.navigator input{
    width: 500px;
    margin-left: 100px;
}

.navigator input{
    font-size: 40px;
}



/*##########*/
/*##########*/
#news {
    float:right;
}

#topik {
    height: 24px;
    width: 502px;;
    position: relative;
}
#topik ul {
    list-style-type: none;
    width: 502px;
    height: 24px;;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:0px;
    left:0px;
}

#topik ul li {
    float: left;
    margin:0px;
    padding: 0px;
}

#topik ul li button {
    background-color: yellow;
}

#topik ul .center_topik {
    margin-left: 178px;
    margin-right: 178px;
}

#jiaju {
    display:none;
}

#house {
}

#second_home {
    display:none;
}

#select_card {
    height: 125px;
    width: 500px;
    position: relative;
    border-top: 1px solid blue ;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    background-color:#EDF1F2;
}

#select_card ul {
    height: 125px;
    width: 502px;
    padding: 0px;
    margin-top:1px;
    list-style-type:none;
    position: absolute;
    top:1px;
}

#select_card ul li {
    height: 30px;
    width: 502px;
    margin-top: 0.6px;
    margin-bottom: 0.6px;
}

#select_card ul li div {
    height: 30px;
}